---
import "../styles/global.css";
import Navbar from "../components/Navbar.astro";
import Home from "../components/Home.astro";
import About from "../components/About.astro";
import Projects from "../components/Projects.astro";
import Contact from "../components/Contact.astro";
---

<html class="font-jost"  lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body class="bg-slate-900">
		<Navbar />
		<main>
			<Home />
			<About />
			<Projects />
			<Contact />
		</main>
	</body>
</html>
