<section class="max-w-7xl mx-auto min-h-screen flex flex-col items-center pt-(--nav-h)"  id="about">
  <h3 class="text-3xl mt-6 font-medium text-white mb-12">About me</h3>
  <p class="text-white text-xl text-justify">
    My name is Brayan, and I am a web developer from Puebla, Mexico. I am passionate about creating useful and scalable web applications. After graduating with a degree in Computer Systems Engineering, I dedicated myself to honing my skills through personal projects and hands-on development work.
  </p>
  <p class="text-white text-xl text-justify mt-2">
    I have experience working with full-stack applications using React, TypeScript, Express.js, and MongoDB. I have built admin dashboards and developed RESTful APIs. I have also used Docker to set up microservices, making my applications easier to manage, scale, and improve over time.
  </p>
  <p class="text-white text-xl text-justify mt-2">
    Although most of my experience comes from self-driven projects and professional practices, I view every challenge as an opportunity to learn and grow. I am currently seeking my first role in the tech industry, in which I can continue improving, contribute to real-world projects, and be part of a team that values growth and collaboration.
  </p>

</section>