<section class="pt-(--nav-h) max-w-7xl mx-auto min-h-screen flex items-center" id="home">
  <div class="flex justify-between">
    <div class="w-1/2">
      <h2 class="text-5xl font-extrabold text-white">Hi, I'm Brayan Vázquez Ramírez</h2>
      <p class="mt-2 text-blue-300 font-semibold text-4xl bg-gradient-to-r from-violet-600 via-rose-500 to-orange-400 inline-block text-transparent bg-clip-text">Fullstack developer</p>
      <p class="mt-8 text-white text-2xl">As a passionate web developer, I love transforming ideas into modern, functional applications. I refine my skills with each new project.</p>
    </div>
    <div class="w-sm aspect-square bg-black rounded-full overflow-hidden border border-white"></div>
  </div>
</section>