---
import Docker from '../assets/tech-icons/docker.svg';
import React from '../assets/tech-icons/react.svg';
import MongoDb from '../assets/tech-icons/mongodb.svg';
import Typescript from '../assets/tech-icons/typescript.svg';
import Javascript from '../assets/tech-icons/javascript.svg';
import HTML from '../assets/tech-icons/html5.svg';
import CSS from '../assets/tech-icons/css.svg';
import Mysql from '../assets/tech-icons/mysql.svg';
import Git from '../assets/tech-icons/git.svg';
import Tailwind from '../assets/tech-icons/tailwindcss.svg';
---

<section id="tech" class="py-4 flex flex-col pt-(--nav-h)">
  <h3 class="text-white flex-none text-3xl text-center font-semibold mt-6 py-2">Tech stacks</h3>
  <div class="w-lg relative overflow-x-auto relative scrollbar-hide scroll-smooth mx-auto mt-12 inline-flex flex-nowrap gap-6 justify-center items-center">
    <div class="flex flex-nowrap gap-6 animate-loop-scroll">
      <!-- Stack's icons -->
       <div class="flex shrink-0 shrink-0 items-center justify-center w-20 aspect-square bg-blue-500 rounded-md [&>svg]:fill-current">
        <Docker class="text-white w-2/3" />
       </div>
       <div class="flex shrink-0 items-center justify-center w-20 aspect-square bg-violet-800 rounded-md [&>svg]:fill-current">
        <React class="text-white w-2/3" />
       </div>
       <div class="flex shrink-0 items-center justify-center w-20 aspect-square bg-teal-900 rounded-md [&>svg]:fill-current">
        <MongoDb class="text-white w-2/3" />
       </div>
       <div class="flex shrink-0 items-center justify-center w-20 aspect-square bg-gray-950 rounded-md [&>svg]:fill-current">
        <Typescript class="text-blue-600 w-2/3" />
       </div>
       <div class="flex shrink-0 items-center justify-center w-20 aspect-square bg-gray-950 rounded-md [&>svg]:fill-current">
        <Javascript class="text-amber-400 w-2/3" />
       </div>
       <div class="flex shrink-0 items-center justify-center w-20 aspect-square bg-gray-950 rounded-md [&>svg]:fill-current">
        <HTML class="text-orange-600 w-2/3" />
       </div>
       <div class="flex shrink-0 items-center justify-center w-20 aspect-square bg-purple-800 rounded-md [&>svg]:fill-current">
        <CSS class="text-white w-2/3" />
       </div>
       <div class="flex shrink-0 items-center justify-center w-20 aspect-square bg-sky-900 rounded-md [&>svg]:fill-current">
        <Mysql class="text-white w-2/3" />
       </div>
       <div class="flex shrink-0 items-center justify-center w-20 aspect-square bg-orange-700 rounded-md [&>svg]:fill-current">
        <Git class="text-white w-2/3" />
       </div>
       <div class="flex shrink-0 items-center justify-center w-20 aspect-square bg-sky-600 rounded-md [&>svg]:fill-current">
        <Tailwind class="text-white w-2/3" />
       </div>
    </div>
    <div aria-hidden="true" class="flex flex-nowrap gap-6 animate-loop-scroll">
      <!-- Stack's icons -->
       <div class="flex shrink-0 shrink-0 items-center justify-center w-20 aspect-square bg-blue-500 rounded-md [&>svg]:fill-current">
        <Docker class="text-white w-2/3" />
       </div>
       <div class="flex shrink-0 items-center justify-center w-20 aspect-square bg-violet-800 rounded-md [&>svg]:fill-current">
        <React class="text-white w-2/3" />
       </div>
       <div class="flex shrink-0 items-center justify-center w-20 aspect-square bg-teal-900 rounded-md [&>svg]:fill-current">
        <MongoDb class="text-white w-2/3" />
       </div>
       <div class="flex shrink-0 items-center justify-center w-20 aspect-square bg-gray-950 rounded-md [&>svg]:fill-current">
        <Typescript class="text-blue-600 w-2/3" />
       </div>
       <div class="flex shrink-0 items-center justify-center w-20 aspect-square bg-gray-950 rounded-md [&>svg]:fill-current">
        <Javascript class="text-amber-400 w-2/3" />
       </div>
       <div class="flex shrink-0 items-center justify-center w-20 aspect-square bg-gray-950 rounded-md [&>svg]:fill-current">
        <HTML class="text-orange-600 w-2/3" />
       </div>
       <div class="flex shrink-0 items-center justify-center w-20 aspect-square bg-purple-800 rounded-md [&>svg]:fill-current">
        <CSS class="text-white w-2/3" />
       </div>
       <div class="flex shrink-0 items-center justify-center w-20 aspect-square bg-sky-900 rounded-md [&>svg]:fill-current">
        <Mysql class="text-white w-2/3" />
       </div>
       <div class="flex shrink-0 items-center justify-center w-20 aspect-square bg-orange-700 rounded-md [&>svg]:fill-current">
        <Git class="text-white w-2/3" />
       </div>
       <div class="flex shrink-0 items-center justify-center w-20 aspect-square bg-sky-600 rounded-md [&>svg]:fill-current">
        <Tailwind class="text-white w-2/3" />
       </div>
    </div>
  </div>
</section>